.color-1 {
    color: hsl(36, 63%, 52%);
}
.color-2 {
    color: hsl(37, 45%, 34%);
}
.color-3 {
    color: hsl(347, 43%, 36%);
}
.color-4 {
    color: hsl(189, 8%, 32%);
}
.color-5 {
    color: hsl(162, 38%, 54%);
}
.color-6 {
    color: hsl(210, 13%, 6%);
}
.color-7 {
    color: hsl(200, 14%, 17%);
}
.color-8 {
    color: hsl(180, 1%, 23%);
}
.color-9 {
    color: hsl(200, 10%, 43%);
}
.color-10 {
    color: hsl(195, 6%, 60%);
}
.color-11 {
    color: hsl(168, 18%, 78%);
}
.color-12 {
    color: hsl(210, 18%, 11%);
}
